.mainPage {
    display: block;
    padding: 20px;
}

.img {
    display: block;
    max-width: 400px;
    max-height: 400px;
}

.info {
    display: flex;
    flex-direction: column;
    height: 84px;
    justify-content: space-between;
}