.tinyInput {
    :global(.MuiInputBase-root) {
        :global(legend) {
            font-size: 0.6em;
        }
    }

    :global(.MuiInputBase-input) {
        background-color: $white;
        padding: 3px 6px;
        font-size: 14px;
    }

    :global(.MuiInputLabel-root) {
        transform: translate(8px, 1px) scale(1);
    }

    :global(.MuiInputLabel-shrink) {
        transform: translate(14px, -7px) scale(0.6);
    }
}

.tinyButton:global(.MuiButtonBase-root) {
    line-height: 1;
    text-transform: none;
    padding: 4px;
}