$red: #fc2c39;
$redBackground: #ffdddf;
$pink: #ffb1db;
$blue: #39bbf1;
$blueLight: #f4fbff;
$blueDark: #0066ff;
$green: #04be3a;
$greenDark: #2b995b;
$greenLight: #4bb78d;
$greenBackground: #e3ffeb;
$greenBorder: #217e4a;
$orange: #fecd36;
$white: #fff;
$black: #333;
$gray: #eee;
$grayLight: #fafafa;
$grayDark: #888;